.header {
  display: block;
  background-color: #343434;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

  ul {
    display: flex;
    margin: 0;
    justify-content: center;

    li {
      list-style-type: none;
    }

    a {
      display: inline-block;
      padding: 15px 30px;
      color: #fff;
      transition: all 0.3s;

      &.active {
        background-color: #0f5a66;
      }
    }
  }
}
